<ng-container *ngIf="menu?.children?.length; then dropdown; else menuItem">
</ng-container>

<!-- templates -->

<!-- dropdown -->
<ng-template #dropdown>
    <a *ngIf="!menu?.children?.length" mat-menu-item [matMenuTriggerFor]="matMenuElem" [routerLink]="menu?.url"
        routerLinkActive="active">
        {{ menu?.name || '' | translate }}
    </a>
    <button *ngIf="menu?.children?.length" mat-menu-item [matMenuTriggerFor]="matMenuElem">
        <a [routerLink]="menu?.url" routerLinkActive="active">{{ menu?.name || '' | translate }}</a>
        <mat-icon class="notranslate">arrow_drop_down</mat-icon>
    </button>

    <mat-menu #matMenuElem="matMenu">
        <app-md-menu *ngFor="let childMenu of menu?.children" [menu]="childMenu"></app-md-menu>
    </mat-menu>
</ng-template>

<!-- noDropdown -->
<ng-template #menuItem>
    <a mat-menu-item [routerLink]="menu?.url" routerLinkActive="active">
        {{ menu?.name || '' | translate }}
    </a>
</ng-template>