mat-toolbar {
    justify-content: space-between;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    md-menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}

.mat-menu-item {
    margin-left: 20px !important;
}