@import 'variables';

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
    color: #000 !important;
}

a,
.fab,
.fas {
    text-decoration: none;
}

mat-drawer {
    min-width: 70%;

    mat-tree {
        padding: 25px;
    }
}

mat-icon {
    margin-right: 5px;
}

.content {
    min-height: 60vh;
}