@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// DEFINICE PALET
$primary: (50 : #e0f4ea,
    100 : #b3e4cb,
    200 : #80d3a8,
    300 : #4dc185,
    400 : #26b36b,
    500 : #00a651,
    600 : #009e4a,
    700 : #009540,
    800 : #008b37,
    900 : #007b27,
    A100 : #a8ffbc,
    A200 : #75ff95,
    A400 : #42ff6e,
    A700 : #29ff5a,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$accent: (50 : #e0ecf0,
    100 : #b3d0d9,
    200 : #80b1bf,
    300 : #4d92a5,
    400 : #267a92,
    500 : #00637f,
    600 : #005b77,
    700 : #00516c,
    800 : #004762,
    900 : #00354f,
    A100 : #82cdff,
    A200 : #4fb9ff,
    A400 : #1ca5ff,
    A700 : #039bff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    ));

$warn: (50 : #fde4e5,
    100 : #fabbbd,
    200 : #f68e92,
    300 : #f26066,
    400 : #f03e45,
    500 : #ed1c24,
    600 : #eb1920,
    700 : #e8141b,
    800 : #e51116,
    900 : #e0090d,
    A100 : #ffffff,
    A200 : #ffd7d7,
    A400 : #ffa4a5,
    A700 : #ff8b8c,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$primary: mat-palette($primary, 500, 100, 800);
$accent: mat-palette($accent, 500, 100, 800);
$warn: mat-palette($warn);

@include angular-material-theme(mat-light-theme($primary, $accent, $warn));

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
    color: #000 !important;
}

a,
.fab,
.fas {
    text-decoration: none;
}

mat-drawer {
    min-width: 70%;

    mat-tree {
        padding: 25px;
    }
}

mat-icon {
    margin-right: 5px;
}