@import 'variables';
@import "../../../node_modules/angular-calendar/css/angular-calendar.css";

cdk-overlay-container {
    .active,
    .active:hover {
        background-color: #444;
        color: #fff !important;
    }
}

mat-drawer {
    min-width: 70%;

    mat-tree {
        padding: 25px;
    }
}

mat-drawer-content {
    display: initial !important;
}

mat-icon {
    margin-right: 5px;
}

mat-form-field {
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
    color: #000 !important;
}

a,
.fab,
.fas {
    text-decoration: none !important;
}

a:hover {
    color: inherit !important;
}

.container {
    position: relative;
}

.content {
    min-height: 60vh;
}