mat-drawer-container {
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

app-footer-menu {
    background-color: #DDDDDD;
    flex-grow: 1;
}