<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <img src="/assets/img/logo/logo.png" alt="logo" />
  </mat-drawer>

  <div>
    <img src="/assets/img/logo/logo.png" alt="logo" />
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <ng-container *ngFor="let menu of itemTree?.data">
      <app-md-menu *ngIf="menu" [menu]="menu"></app-md-menu>
    </ng-container>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>