<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <img src="/assets/img/logo/logo.png" alt="logo" />
  </mat-drawer>

  <div>
    <img src="/assets/img/logo/logo.png" alt="logo" />
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <button routerLink="/about-us">O nas</button>
    <button routerLink="/blog">Blog</button>
    <button routerLink="/blog/aaaa">detail</button>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>