<mat-tree [dataSource]="itemTree" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        {{ node.name | translate }}
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle>
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            {{ node.name | translate }}
        </div>

        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>

</mat-tree>