<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" mdbStickyHeader>

  <!-- logo -->
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="'/'">
      <img src="/assets/img/logo/logo.png" alt="logo" height="60" />
    </a>
  </mdb-navbar-brand>

  <!-- menu -->
  <div class="d-none d-lg-block">
    <ul class="navbar-nav">
      <li *ngFor="let menu of itemTree" routerLinkActive="active" class="nav-item"
        [ngClass]="{'dropdown': menu.children?.length}">
        <a [routerLink]="menu.url" class="nav-link" [ngClass]="{'dropdown-toggle': menu.children?.length}"
          mdbWavesEffect>
          {{ menu.name | translate }}
        </a>
        <div *ngFor="let child of menu.children" class="dropdown-menu" role="menu">
          <a [routerLink]="child.url" class="dropdown-item" mdbWavesEffect>
            {{ child.name | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>

  <!-- lang -->
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item dropdown">
      <mdb-icon fas icon="user"></mdb-icon>
      <div class="dropdown-menu dropdown-menu-right dropdown-primary">
        <a class="dropdown-item" href="#">CZ</a>
        <a class="dropdown-item" href="#">EN</a>
        <a class="dropdown-item" href="#">DE</a>
      </div>
    </li>
  </ul>

</mdb-navbar>