<img src="/assets/img/logo/logo.png" alt="logo" />

<mat-tree [dataSource]="itemTree" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <a [routerLink]="node?.item?.url">
      {{node?.item?.name}}
    </a>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: isExpandable" matTreeNodePadding>
    <div matTreeNodeToggle>
      <a [routerLink]="node?.item?.url">
        {{node?.item?.name}}
      </a>
      <button mat-icon-button matTreeNodeToggle>
        <mat-icon>
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
    </div>
  </mat-tree-node>
</mat-tree>