<div class="container py-5">
  <div class="row">

    <div class="col-sm-6 col-md-3">
      <h2 class="subheading" [innerHTML]="'footer.contact' | translate"></h2>
      <mat-divider></mat-divider>
      <div class="mt-3">
        <div>
          <a mat-button href="mailto:info@jc-servis.cz">
            <mat-icon color="primary">mail</mat-icon>info@jc-servis.cz
          </a>
        </div>
        <div>
          <a mat-button href="tel:+420111222333">
            <mat-icon color="primary">phone</mat-icon>+420&nbsp;111&nbsp;222&nbsp;333
          </a>
        </div>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com/firmajc-servis" class="fab fa-facebook-f" target="_blank"></a>
        <a href="https://www.linkedin.com/company/jc-servis-s-r-o-" class="fab fa-linkedin" target="_blank"></a>
        <a href="https://twitter.com/jc-servis_m" class="fab fa-twitter" target="_blank"></a>
        <a href="https://www.youtube.com/user/firmajc-servis" class="fab fa-youtube" target="_blank"></a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <h2 [innerHTML]="'footer.services' | translate"></h2>
      <mat-divider></mat-divider>
      <!-- todo zde musi byt vycet service menu -->
      <div class="mt-3">
        <div>
          <a mat-button href="/">
            <mat-icon color="primary">medical_services</mat-icon>Oprava pracek
          </a>
        </div>
        <div>
          <a mat-button href="/">
            <mat-icon color="primary">directions_bike</mat-icon>Oprava jizdnich kol
          </a>
        </div>
        <div>
          <a mat-button href="/">
            <mat-icon color="primary">electrical_services</mat-icon>Elektro instalace
          </a>
        </div>
      </div>
      <!-- todo zde musi byt vycet service menu -->
    </div>

    <div class="col-sm-12 col-md-6 next">
      <h2 [innerHTML]="'footer.next' | translate"></h2>
      <mat-divider></mat-divider>
      <!-- todo zde musi byt vycet ostatni menu -->
      <div class="mt-3">
        <a mat-icon-button href="/">
          <mat-icon color="primary">home</mat-icon>
        </a>
        <a mat-button href="/">
          Prvni
        </a>
        <a mat-button href="/">
          Druhy
        </a>
        <a mat-button href="/">
          Treti
        </a>
        <a mat-button href="/">
          Ctvrty
        </a>
        <a mat-button href="/">
          Paty
        </a>
      </div>
      <!-- todo zde musi byt vycet ostatni menu -->
      <div>
        <a mat-button href="/">
          <mat-icon color="primary">pin_drop</mat-icon>Mapa servisu
        </a>
        <a mat-button href="/">
          <mat-icon color="primary">edit_calendar</mat-icon>Rezervacni kalendar
        </a>
      </div>
    </div>
  </div>
</div>