@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~swiper/swiper-bundle';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none !important;
}

button {
    outline: none !important;
}