<div class="d-sm-flex justify-content-between align-items-center">

  <!-- HEADLINE -->
  <h3 class="mb-sm-0">{{ date | calendarDate:(view + 'ViewTitle'):'cs' }}</h3>

  <!-- BUTTONS DAY CHANGE-->
  <div class="mb-3 mb-sm-0">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle mwlCalendarPreviousView [view]="view" [(viewDate)]="date">
        <i class="fa fa-chevron-left"></i>
      </mat-button-toggle>
      <mat-button-toggle mwlCalendarToday [(viewDate)]="date">
        {{ config?.params?.buttonsConfig?.today || 'Dnes' }}
      </mat-button-toggle>
      <mat-button-toggle mwlCalendarNextView [view]="view" [(viewDate)]="date">
        <i class="fa fa-chevron-right"></i>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- BUTTONS VIEW CHANGE-->
  <div>
    <mat-button-toggle-group name="calendarView" aria-label="Calendar view">
      <mat-button-toggle (click)="view = CalendarView.Month" [checked]="view === CalendarView.Month">
        {{ config?.params?.buttonsConfig?.monthView || 'Měsíc' }}
      </mat-button-toggle>
      <mat-button-toggle (click)="view = CalendarView.Week" [checked]="view === CalendarView.Week">
        {{ config?.params?.buttonsConfig?.weekView || 'Týden' }}
      </mat-button-toggle>
      <mat-button-toggle (click)="view = CalendarView.Day" [checked]="view === CalendarView.Day">
        {{ config?.params?.buttonsConfig?.dayView || 'Den' }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<!-- CALENDAR VIEW -->
<div class="my-3" [ngSwitch]="view">
  <mat-progress-bar *ngIf="!loading.closed" mode="indeterminate"></mat-progress-bar>
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="date" [events]="itemList" [refresh]="refresh"
    [weekStartsOn]="config?.params?.calendarConfig?.weekStartsOn || 1">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="date" [events]="itemList" [refresh]="refresh"
    [weekStartsOn]="config?.params?.calendarConfig?.weekStartsOn || 1">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="date" [events]="itemList" [refresh]="refresh">
  </mwl-calendar-day-view>

</div>