<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->

    <div class="content">
      <app-main-menu [data]="itemTree"></app-main-menu>

      <router-outlet></router-outlet>

      <app-footer-menu [data]="itemTree"></app-footer-menu>
    </div>
  </div>

</mat-drawer-container>