<div class="container py-5">
  <div class="row">

    <div class="col-sm-6 col-md-3">
      <h3 [innerHTML]="'footer.connect' | translate"></h3>
      <div>
        <div>
          <a href="mailto:info@conference.cz" class="fas fa-envelope-open-text">
            info@conference.cz
          </a>
        </div>
        <div>
          <a href="tel:+420605202525" class="fas fa-phone-alt">
            +420&nbsp;605&nbsp;202&nbsp;525
          </a>
        </div>
      </div>
      <div>
        <a href="https://www.facebook.com/firmaconference" class="fab fa-facebook-f z-depth-2" target="_blank"></a>
        <a href="https://www.instagram.com/ucetnictvi.conference/" class="fab fa-instagram z-depth-2" target="_blank"></a>
        <a href="https://www.linkedin.com/company/conference-s-r-o-" class="fab fa-linkedin z-depth-2" target="_blank"></a>
        <a href="https://twitter.com/conference_m" class="fab fa-twitter z-depth-2" target="_blank"></a>
        <a href="https://www.youtube.com/user/firmaconference" class="fab fa-youtube z-depth-2" target="_blank"></a>
      </div>
    </div>

    <div class="d-none d-md-block col-md-6">
      <h3 [innerHTML]="'footer.navigation' | translate"></h3>
      <!-- <div class="row">
        <div class="col-md-6">
          <div *ngFor="let menu of children">
            <a [routerLink]="menu.url">{{menu.name}}</a>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngFor="let menu of parents">
            <a [routerLink]="menu.url">{{menu.name}}</a>
          </div>
        </div>
      </div> -->
    </div>

    <div class="col-sm-6 col-md-3">
      <h3 [innerHTML]="'footer.news' | translate"></h3>
    </div>
  </div>
</div>