<section *ngIf="field && formControl && field.type !== 'hidden'" [formGroup]="group" [ngClass]="class" [id]="id">

    <!-- md field -->
    <mat-form-field [ngClass]="class" [floatLabel]="field?.floatLabel">
        <!-- label -->
        <mat-label *ngIf="field?.label">
            <span [innerHTML]="field?.label"></span>
        </mat-label>
        <!-- input -->
        <input #formElement [formControl]="formControl" type="password" [required]="field?.required"
            [readonly]="field?.readonly" (blur)="onBlur()" [placeholder]="field?.placeholder" matInput
            [pattern]="field?.validation?.rule" [minlength]="field?.minlength" [maxlength]="field?.maxlength"
            [autocomplete]="field?.autocomplete || 'on'" [tabindex]="field.tabindex">
        <!-- errors -->
        <mat-error *ngIf="formControl?.touched && formControl?.invalid && formControl?.errors">
            {{ getErrorMessage(formControl?.errors) }}
        </mat-error>
        <!-- hints -->
        <mat-hint *ngIf="hint">
            {{ hint }}
        </mat-hint>
        <!-- hint -->
        <mat-hint *ngIf="field?.maxlength" align="end">{{ formControl?.value?.length || 0 }}/{{ field?.maxlength }}
        </mat-hint>
    </mat-form-field>

</section>