<section *ngIf="field && formControl && field.type !== 'hidden'" [formGroup]="group" [ngClass]="class" [id]="id">

    <!-- md field -->
    <mat-form-field [floatLabel]="field?.floatLabel">
        <!-- label -->
        <mat-label>
            <mat-progress-bar *ngIf="!loading?.closed" mode="indeterminate"></mat-progress-bar>
            <span *ngIf="loading?.closed" [innerHTML]="field?.label"></span>
        </mat-label>
        <!-- select -->
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="fakeControl" [required]="field?.required"
            [readonly]="field?.readonly" (blur)="onBlur($event)" [pattern]="field?.validation?.rule"
            [tabindex]="field.tabindex">

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="display.bind(formControl)"
            (optionSelected)="value=$event.option?.value">

            <mat-option *ngFor="let option of filteredOptions | async" [value]="option?.value"
                [disabled]="option?.disabled || field?.readonly" [matTooltip]="option?.label">
                {{ option?.label }}
            </mat-option>

        </mat-autocomplete>
        <mat-icon *ngIf="!field?.readonly && !formControl?.disabled && (loading?.closed)" class="notranslate"
            (click)="fakeControl.reset()" title="{{ 'Vyčistit' }}">backspace</mat-icon>

        <!-- errors -->
        <mat-error *ngIf="formControl?.touched && formControl?.invalid && formControl?.errors">
            {{ getErrorMessage(formControl?.errors) }}
        </mat-error>
        <!-- hints -->
        <mat-hint *ngIf="hint">
            {{ hint }}
        </mat-hint>
    </mat-form-field>

</section>