<div class="banner py-5 px-4" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/forest2.jpg')">
    <div class="container">

        <!-- Content -->
        <div class="col-md-6 pb-5">
            <h1 [innerHTML]="'home.title' | translate"></h1>

            <div>
                <strong [innerHTML]="'home.subtitle' | translate"></strong>
            </div>

            <div [innerHTML]="'home.text' | translate"></div>

            <button>
                {{ 'home.consultation' | translate }}
            </button>
        </div>

        <div class="row text-center pt-5 btns">
            <div class="col-md-4">
                <button color="primary">
                    {{ 'home.bookkeeping' | translate }}
                </button>
            </div>

            <div class="col-md-4">
                <button color="accent">
                    {{ 'home.archiv' | translate }}
                </button>
            </div>

            <div class="col-md-4">
                <button color="warn">
                    {{ 'home.foreignLang' | translate }}
                </button>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div id="aboutUs" class="py-5">
        <div class="text-center">
            <h4 [innerHTML]="'home.aboutUs' | translate"></h4>
            <h2 [innerHTML]="'home.aboutUsTitle' | translate"></h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div [innerHTML]="'home.aboutUsText1' | translate"></div>
                <div [innerHTML]="'home.aboutUsText2' | translate"></div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-6 col-lg-3 align-middle">
                    {{ 'home.a2z' | translate }}
                </div>
                <div class="col-md-6 col-lg-3">
                    {{ 'home.investment' | translate }}
                </div>
                <div class="col-md-6 col-lg-3">
                    {{ 'home.report' | translate }}
                </div>
                <div class="col-md-6 col-lg-3">
                    {{ 'home.result' | translate }}
                </div>
            </div>
        </div>
    </div>

    <div id="reference" class="py-5 row">
        <div class="col-md-6">
            <div [innerHTML]="'home.referenceDesc' | translate"></div>
            <div [innerHTML]="'home.referenceSign' | translate"></div>
            <div [innerHTML]="'home.referenceComp' | translate"></div>
        </div>
        <div class="col-md-6">
            <h4 [innerHTML]="'home.reference' | translate"></h4>
            <h2 [innerHTML]="'home.referenceTitle' | translate"></h2>
            <div [innerHTML]="'home.referenceText' | translate"></div>
            <swiper [slidesPerView]="4" [spaceBetween]="50">
                <ng-template *ngFor="let ref of itemList" swiperSlide>{{ref.name}}</ng-template>
            </swiper>
            <button>
                {{ 'home.referenceMore' | translate }}
            </button>
        </div>
    </div>
</div>